<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Requirements")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>Технические требования</h1>
<p><strong>ОБЩИЕ</strong></p>
<p>Поддерживаемые браузеры и операционные системы для работы с курсом (в роли учащегося):</p>
<ul>
<li>Операционные системы: Windows 7+, OS X 10.7+, Linux</li>
<li>Браузеры: Chrome (кроме версии 53), Safari, Mozilla Firefox</li>
<li>Скорость сетевого соединения: 3 Мбит/с</li>
</ul>
<p><strong>ИЗВЕСТНЫЕ ОГРАНИЧЕНИЯ</strong></p>
<p>К сожалению, в данный момент мы не можем полностью гарантировать стабильную работу с мобильными устройствами, с бета-версиями браузеров (например, Edge на Win10), а также с рядом устаревших операционных систем, уже не поддерживаемых производителями, включая Windows Vista и Windows XP.</p>
<p>Мы будем стараться расширить набор поддерживаемых конфигураций по мере развития нашего проекта. Тем не менее, для наиболее комфортной работы с сайтом рекомендуем пользоваться операционными системами и браузерами, перечисленными выше.</p>
<p><strong>ДЛЯ КОНТРОЛЬНЫХ ИСПЫТАНИЙ С ПОДТВЕРЖДЕНИЕМ ЛИЧНОСТИ (ПРОКТОРИНГОМ)</strong></p>
<p>Для проверочных работ с прокторингом, проводимым в режиме онлайн:</p>
<ul>
<li>должен использоваться персональный компьютер: настольный компьютер, ноутбук или нетбук;</li>
<li>интернет-обозреватель: последняя стабильная версия браузера Google Chrome;</li>
<li>Процессор: Intel i3 1.2 ГГц или эквивалент</li>
<li>Разрешение веб-камеры: 640x480</li>
<li>Частота кадров веб-камеры: 15 кадров/с</li>
<li>Разрешение экрана монитора: 1280x720</li>
<li>Скорость сетевого соединения: 3 Мбит/с</li>
<li>Свободное место на диске: 100 МБ</li>
<li>Свободная оперативная память: 1 ГБ</li>
</ul>
<p>Точные технические требования зависят от конкретной используемой системы прокторинга.</p>
<p>Пользователь обязан самостоятельно проверить корректность работы своего ПК с системой онлайн-прокторинга, и в случае невозможности проходить испытания с системой прокторинга — должен сообщить об этом сразу по обнаружению этого факта, не позднее, чем через час после назначенного старта первого проверочного испытания с подтверждением личности.</p>
    </section>
</main>
