<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Terms of use")}</%block>
        </h1>
<p><strong>ПРЕДМЕТ ПОЛЬЗОВАТЕЛЬСКОГО СОГЛАШЕНИЯ</strong></p>
<p>Настоящее Пользовательское соглашение (далее Соглашение) регламентирует использование Пользователем услуг образовательной платформы open.etu.ru (далее Платформа). Пользователем признается физическое лицо, надлежащим образом присоединившееся к настоящему Соглашению.</p>
<p>Соглашение вступает в силу с момента выражения Пользователем согласия с его условиями путем прохождения регистрации и действует в течение всего времени предоставления и использования услуг.</p>
<p><strong>ПОЛЬЗОВАТЕЛЬ ИМЕЕТ ПРАВО:</strong></p>
<ul>
<li>Использовать контент Платформы любыми способами, не противоречащими условиям данного Соглашения.</li>
<li>Обращаться к Администрации Платформы с целью разрешения спорных вопросов.</li>
<li>Бесплатно пользоваться всем контентом Платформы в личный целях, не сопряженных с целями получения коммерческой выгоды.</li>
</ul>
<p><strong>АДМИНИСТРАЦИЯ ИМЕЕТ ПРАВО:</strong></p>
<p>В любое время изменять оформление, контент, список сервисов, изменять или дополнять используемые скрипты, программное обеспечение и другие объекты, используемые в работе Платформы.</p>
<p>При необходимости отправлять пользователям по электронной почте сообщения, касающиеся использования Платформы.</p>
<p><strong>ПОЛЬЗОВАТЕЛЬ ОБЯЗУЕТСЯ:</strong></p>
<p>Принимать надлежащие меры для обеспечения сохранности личного логина и пароля для доступа к Платформе.</p>
<p>Регулярно знакомиться с содержанием настоящего Соглашения в целях своевременного ознакомления с его изменениями.</p>
<p>Нести полную ответственность за любые действия, совершенные с использованием его аккаунта, а также за любые последствия, которые могло повлечь или повлекло подобное его использование.</p>
<p><strong>КОДЕКС ЧЕСТИ</strong></p>
<p>Все пользователи, записавшиеся на курс, выражают согласие соблюдать следующие правила:</p>
<ul>
<li>Мои ответы на задания курса будут результатом моей собственной работы, за исключением выполнения тех заданий, которые явно разрешают сотрудничество.</li>
<li>Я не буду предоставлять доступ к моим решениям заданий курса кому-либо еще.</li>
<li>Я не буду участвовать в деятельности, которая будет нечестным путем улучшать мои результаты.</li>
</ul>
<p><strong>ПРАВА НА КОНТЕНТ, РАЗМЕЩЕННЫЙ НА ПЛАТФОРМЕ</strong></p>
<p>Все используемые и размещенные на Платформе результаты интеллектуальной деятельности являются интеллектуальной собственностью их законных правообладателей и охраняются законодательством об интеллектуальной собственности России, а также соответствующими международными правовыми конвенциями.</p>
<p>Никакой контент не может быть воспроизведен, переработан, распространен, отображен во фрейме, опубликован, скачан, передан, продан или иным способом использован целиком или по частям без предварительного разрешения правообладателя, кроме случаев, когда правообладатель явным образом выразил свое согласие на свободное использование материала любым лицом, за исключением случаев, установленных настоящим Соглашением, а также действующим законодательством Российской Федерации.</p>
    </section>
</main>
