/////////////////// General

$content_padding_top: 24px;
$content-padding-bottom: 10px;
$header-height: 71px;
$footer-height: 125.5px;

body, body.view-profile {
  min-height: initial;
  background-color: #fff;
}

%btn-pl-default-base {
  border-radius: 0;
}

.btn, .global-header .nav-links .secondary .btn {
  border-radius: 0;
}

%t-title {
  font-family: $font-family-title;
}

h1, h2, h3, h1 span, h2 span, h3 span, .nav-item {
  font-family: $font-family-title;
}

.mobile-menu {
  margin: 25px 0 -10px;
  width: 100%;
}

.mobile-menu a {
  color: $primary;
  font-family: Plex;
}

// It is necessary to specify `:not(.courseware) >` in order to not affect the style
// of `#content.content-wrapper` inside the unit iframe in the MFE
:not(.courseware) > #content.content-wrapper {
  @include media-breakpoint-up(lg) {
    padding: 0;
  }
  @include media-breakpoint-up(sm) {
    padding: 0;
  }
  background-image: url('../images/back.png');
  background-color: #00417d;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  margin-top: 71px;
  min-height: calc(100vh - #{$header-height + $content-padding-top + $content-padding-bottom + $footer-height}); // sticky footer
}

////////////////// Fonts
@import "fonts";

/////////////////// Register/Sign in header
header.global-header {
  //@include media-breakpoint-up(lg) {
    //position: fixed;
  //  top: 0;
  //  z-index: 200; // necessary to keep the header on top of other elements
  //  overflow: visible;  // fix for Safari
  //}
  //@include media-breakpoint-up(md) {
  //  top: 0;
  //  z-index: 200;
  //  overflow: visible;
  //}
  top: 0;
  z-index: 200;
  overflow: visible;
  background-color: #00407c;
  box-shadow: none;
  border-bottom: 1px solid rgb(51, 102, 150);
  position: absolute;
  height: 72px;
}

header.global-header .main-header {
  position: initial;
}

header.global-header .logo {
  height: 45px !important;
  background: #265c90;
  border-radius: 10px;
  padding: 7px 13px 7px 13px;
}

.fixed-header {
  background-color: transparent !important;
  height: 71px;
  right: 0;
  border-bottom: none !important;

  @include media-breakpoint-up(lg) {
    .nav-links .secondary {
      margin: 10px 10px 0 0;
    }
  }
  @include media-breakpoint-up(xl) {
    .nav-links .secondary {
      margin: 10px 10px 0 0;
    }
  }
}

.global-header .header-logo a {
  margin-top: 6px !important;
  margin-right: 0 !important;
  margin-bottom: 3px !important;
  margin-left: 50%;

  margin: 15px 0 0 8px;
}

.global-header .nav-links .main .nav-tab a {
  color: #fff;
  padding: 23px 6px 24px;
  font-weight: 300;
  background: rgb(51, 107, 156);
  border-bottom: 1px dashed rgb(92, 135, 173);

  &.active {
    background: rgb(51, 107, 156);
    border-bottom: 1px dashed rgb(92, 135, 173);
  }

  &:hover {
    background: rgb(26, 83, 137);
    border-bottom: 1px solid rgb(109, 145, 180);
  }
}

.global-header .nav-links .secondary .fa-question-circle {
  color: #fff;
  font-size: 30px;
  margin: 0 5px 0 6px;
  padding: 0;
}

.global-header .nav-links .secondary .nav-item.nav-item-dropdown {
  color: #fff;
}

.global-header .nav-links .secondary .toggle-user-dropdown {
  padding: 3px;
  //margin: 0px;
}

.global-header .nav-links .top-user-menu {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  float: right;
  align-items: center;
}

.global-header .nav-links .secondary {
  margin: 7px 0px 0px 4px;
  float: right;
  height: 55px;
  border-radius: 10px;
  background: rgb(51, 107, 156);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.global-header .nav-links .secondary .nav-item {
  margin: 0;
  padding: 0;
}

.global-header .nav-links .secondary .nav-item a {
  color: #fff;

  &:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
  }
}

.global-header .nav-links .secondary .dropdown-user-menu .dropdown-item:not(:last-child) {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  border-top: 1px solid transparent;

  &:hover {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
}

.global-header .nav-links .secondary .dropdown-user-menu {
  background: rgb(0, 64, 124);
  top: 70px;
  right: 0;
  border-top: 1px solid rgb(0, 64, 124);
  border-right: 1px solid rgb(0, 64, 124);
  border-bottom: 1px solid rgb(51, 107, 156);
  border-left: 1px solid rgb(51, 107, 156);

  .dropdown-item:hover {
    background-color: rgb(51, 107, 156);
    color: #fff;
    font-weight: 300;
    text-shadow: 0px 0px 4px rgba(255, 255, 255, 0.2);
  }
}

.global-header .hamburger-menu .line {
  background: #3370a0;
}

.global-header .nav-links .nav-item a {
  color: #fff;

  &:hover {
    color: #fff;
  }
}

.global-header .nav-links .secondary a.btn{
  color: #fff;
  margin: 6px 3px;  
  background: #004582;
  box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.1);
  border: 1px solid #004582;

  &:hover {
    color: #fff;
    background: #004582;
    border: 1px solid #004582;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.1), 8px 8px 0px rgba(255, 255, 255, 0.1);
  }
}

.mobile-menu .mobile-nav-link {
  overflow: inherit;
}

.mobile-menu .mobile-nav-link a {
  font-weight: 500;
  background-color: rgba(0, 64, 124, 0.9);
  color: #fff;

  &:hover {
    background: rgba(0, 64, 124, 0.9);
    border-bottom: 1px dashed #fff;
  }

  &:focus {
    background: #336796;
  }
}


header.global-header .nav-links .main {
  @include media-breakpoint-up(lg) {
    margin: 0 0 0 10px;
  }
}

header.global-header .nav-links .secondary .user-image-frame {
  border: none;
  margin: 0px 0px 0px 5px;
}

header.global-header .nav-links .secondary .username {
  margin: 0px 5px 0px 0px;
}

header.global-header .nav-links .secondary .dropdown-user-menu {
  position: fixed;
}

.global-header .nav-links .nav-item a.explore-courses {
  @include media-breakpoint-up(lg) {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.7);
    padding: 0 5px 0 5px;
    display: none;

    &:hover {
      text-shadow: none;
    }
  }
}

/////////////////// Header on courses top
#root header .logo {
  padding-bottom: 12px;
}

#root header .logo img {
  height: 40px;
}

/////////////////// Sign in form

.login-register .form-field {
    // Hide "Sign in with your company or school link"
    button.enterprise-login {
        display: none;
    }
}

.login-register .form-field .tip {
  padding: 2px;
}

.login-register-content h1 {
  color: $primary;
}

.login-register .action-primary {
  background: #1c3868;
  border: 1px solid #1c3868;
  border-radius: 10px;
  box-shadow: none;
  font-weight: 400;

  &:hover {
    background: #fff;
    border: 1px solid #aec2d5;
    color: #5c86af;
    box-shadow: 4px 4px 0px rgba(38, 92, 144, 0.3), 8px 8px 0px rgba(38, 92, 144, 0.1);
  }

  &:active {
    text-shadown: none;
  }

  &:focus {
    text-shadown: none;
  }
}

.login-register .form-toggle {
  &:hover {
    color: $gray;
    test-decoration: none !important;
  }
}

.login-register .form-field input {
  box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.1), 8px 8px 0px rgba(0, 0, 0, 0.1);
}

.login-register .form-field input.checkbox+label {
  font-size: small;
}

.login-register .submission-error {
  border-bottom: 3px double #a0050e;
}

.login-register-content .side-container {
  padding: 30px 40px 20px 20px;
  max-width: 400px;
  min-width: 400px;
  min-height: 10px;
  flex-grow: 1;
  order: 2;
}

.login-register-content {
  padding-top: 20px;
}

.login-register {
  margin: 0;
}

.status-verification.is-accepted {
  border-top: 3px double #aec2d5 !important;
}

.status-verification .recovery-password a {
  color: #a0050e;
  border-bottom: 1px dashed #a0050e;
  text-decoration: none !important;

  &:hover {
    border-bottom: none;
  }
}

/////////////////// Search courses catalog
.find-courses .discovery-submit {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 5px;

  &:hover {
    background: transparent !important;
    border: 1px solid transparent;
  }
}

.find-courses .discovery-input {
  box-shadow: none;
  border: none;
  border-radius: 5px;
  background: rgba(255,255,255,0.2);
}

.content-wrapper .find-courses {
  background-image: url('../images/back.png');
  background-color: #00417d;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 130%;
}

.find-courses .wrapper-search-context .search-status-label {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  text-align: right;
}

.find-courses .search-facets .header-facet {
  color: #fff;
  border-top: 1px dashed rgba(255, 255, 255, 0.1);
  font-weight: 400;
  text-shadow: 2px 1px 0px rgba(255, 255, 255, 0.3);
  text-align: right;
}

.find-courses .search-facets.phone-menu {
  background-color: transparent;
  border: 3px double rgba(255, 255, 255, 0.1);
}

.find-courses .search-facets .facet-option {
  color: #fff;

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.find-courses .search-facets .color-header-search {
  color: #fff;
  font-weight: 400;
  text-align: center;
}

.find-courses .discovery-input {
  color: #fff;

  &::placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
  &::-ms-input-placeholder {
    color: #fff;
  }

}

.find-courses .courses-container .courses .course {
  border-bottom: 2px solid #fff;
  &:hover {
    border-bottom: 2px solid #fff;
  }
}


/////////////////// Home page
.background-cover {
  background-image: url('../images/back.png');
  background-color: #00417d;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 90%;
  @include media-breakpoint-up(xl) {
    height: 90%;
  }
  @include media-breakpoint-up(lg) {
    height: 90%;
  }
}

.home {
  background-color: #003f7a;
}

.home header {
  box-shadow: none;
}

.home > header .title {
  box-shadow: none;
  background-color: transparent;
}

.home > header .outer-wrapper {
  padding: 0;
  background-color: transparent;
}


.home > header .title > .heading-group {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

.home > header .title > .heading-group p {
  color: #fff;
  font-style: normal;
  font-size: 16px;
  text-transform: lowercase;
  letter-spacing: 3.2px;
  text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.4);
}

.home > header .title > .heading-group h1 {
  display: inline-block;
  font-weight: bolder;

  &.logo-let {
    color: #3370a0;
    font-size: 84px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  }
  &.logo-it {
    color: #234f87;
    background-color: #fff;
    font-size: 84px;
    line-height: 1.1;
    padding: 5px 10px 5px 5px;
    letter-spacing: -5px;
  }
  &.logo-each {
    color: #fff;
    font-size: 70px;
    letter-spacing: 5px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.7);
  }
}

.animation-home-header-pop-up, .home > header .outer-wrapper {
  animation: none;
}

.highlighted-courses .courses, .find-courses .courses {
  padding-top: 0;
}

.courses-container .courses .course {
  box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2), 8px 8px 0px rgba(255, 255, 255, 0.2);

  &:hover {
    box-shadow: 6px 6px 0px rgba(255, 255, 255, 0.2), 12px 12px 0px rgba(255, 255, 255, 0.2); 
  }
}

.courses-container .courses .course {
  border: none;
  border-radius: 0;

  &:hover {
    border-radius: 0;
  }
}

.courses-container .courses .course .course-info:hover {
  background-color: #fff; 
}

.courses-container .courses .course .course-image .cover-image {
  &:before {
    background: #fff;
    opacity: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  .learn-more {
    display: none;
  }
}

.find-courses .courses-container .courses .course .course-image .cover-image .learn-more {
  border-radius: 0;
  width: 100%;
  left: 0;
  display: inline !important;
  background: rgba(255, 255, 255, 0.4);
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
  letter-spacing: 2px;
  color: #fff;
  height: 53px;
  font-size: 2em;
  font-weight: 300;
}

.find-courses .courses-container .courses .course:hover .cover-image:before {
  opacity: 0.1 !important;
  background: #fff;
}

.find-courses .courses-container .courses .course {
  box-shadow: none;

  &:hover {
    box-shadow: none;
  }
}


.home .courses-container .courses .courses-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .courses-listing-item {
    margin: 0 20px 30px 20px;
    // Fix right margin
    &:nth-child(4n), &:last-child {
      margin-right: 20px;
    }
  }
}

////////////////// User dashboard /dashboard
.dashboard .main-container {
  padding: 40px 20px 80px 40px;
}

.search-bar .search-field {
  border-radius: 0;

  &:focus-visible {
    border-radius: 0;
  }
}

.floating-username {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  box-sizing: border-box;
  transition: all 0.15s ease-out 0s;
  background: #fff;
  color: #00407c;
  border-radius: 5px;
  padding: 1px 5px 1px 5px;
  margin: 45px 0px 0px 0px;
  text-align: center;
  box-shadow: 0 4px 25px 0 rgba(255, 255, 255, 0.5);
  right: 1%;
  

  &:hover {
    opacity: 1;
  }
}

.dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .action-more {
  background: transparent;
  border: none;
  color: #fff;
}

.dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .actions-dropdown .actions-item .action:hover {
  border: none;
}

.search-bar .search-button {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: transparent;
  box-shadow: none;

  &:hover {
    background: transparent !important;
  }
}

.empty-dashboard-message {
  border: none;
  background: rgba(255, 255, 255, 0.2);
}

.empty-dashboard-message p {
  text-shadow: none;
  color: #fff;
}

.empty-dashboard-message a.btn {
  box-shadow: none;
  background-color: #3372a2;
  border: 1px dashed #5396c8;
  text-transform: lowercase;

  &:hover {
    box-shadow: none;
    border-top: 1px solid #336b9c;
    border-bottom: 1px solid #336b9c;

    border-left: 1px solid #5396c8;
    border-right: 1px solid #5396c8;
  }
}

.dashboard-search-bar .search-field {
  box-shadow: none;
  background: rgba(255,255,255,0.2);
  border: none;
  color: #fff;
}

.dashboard-search-input {
  color: #fff;

  &::placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
  &::-ms-input-placeholder {
    color: #fff;
  }
}

.dashboard-search-bar label {
  color: #fff;
  text-shadow: none;
}

.search-field-wrapper input[type="text"]:focus {
  box-shadow: none;
}

.dashboard .main-container .my-courses .course .details {
  box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2), 8px 8px 0px rgba(255, 255, 255, 0.2);
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title a {
  color: #fff;
}

.dashboard .main-container .my-courses .course .details .enter-course {
  border: 1px solid #fff;
  color: #fff;
  border-radius: 5px;
  background: transparent;

  &:hover {
    color: #004b88;
    background: #fff;
    border: 1px solid transparent;
  }
}

.dashboard .main-container .my-courses .course .details .course-actions .wrapper-action-more .actions-dropdown .actions-dropdown-list {
  background: rgba(0, 64, 124, 0.5);
  box-shadow: none;
}

.dashboard .main-container .my-courses .course .details .course-actions .action {
  color: #fff;
  border: transparent;

  &:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 0.6);
    color: #fff;
    text-decoration: none;
  }
}

.dashboard {
  background-image: url('../images/back.png');
  background-color: #00417d;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main-container .my-courses .course {
  background: rgba(255,255,255,0.2);
}

.dashboard .main-container .my-courses .wrapper-header-courses .header-courses {
  color: #fff;
  text-transform: uppercase;
  text-align: right;
}

.dashboard .main-container .my-courses .listing-courses .course-item .course-container {
  border: none;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-image .cover .course-image {
  padding: 0;
  object-fit: cover;
  height: 150px;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .wrapper-course-info-actions .wrapper-course-info-row .wrapper-course-actions {
  margin-top: 35px;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title a {
  color: #fff;
}

.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-info [class*="info-"] {
  color: #fff;
}

////////////////// "View this course as staff/learner/..."
nav.wrapper-preview-menu {
    // It is necessary to specify `nav` in order to override the common higher priority rule
    @include media-breakpoint-up(lg) {
      margin-top: $header-height;
    }
}

.btn-inverse-outline-primary {
  border-radius: 0;
}

.nav-link {
  font-weight: 400;
}

.nav-underline-tabs .nav-link {
  font-weight: 400;
}

.btn-outline-primary {
  border-radius: 0;
}

.btn-brand {
  border-radius: 0;
}

.content-wrapper .course-tabs .nav-item.active .nav-link, .content-wrapper .course-tabs .nav-item:hover .nav-link {
  border: none;
  color: #fff;
  background: rgba(0, 64, 124, 0.5);
}

////////////////// Course about page
.content-wrapper {
  margin: 3px auto 0 auto;
}

.global-header .header-logo .course-header .course-name {
  font-weight: normal;
}

.course-info .container {
  padding: 20px 0 40px 0 !important;
}

.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group {
  box-shadow: none;
  text-align: center;
  border-bottom: none;

  h1 {
    font-weight: 200;
    text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.3);
  }
}

.course-info header.course-profile {
  background-image: url("/static/indigo/images/back.png");
  box-shadow: none;
  border-bottom: none;

  .intro-inner-wrapper {
    border: none;
    background: transparent;
    box-shadow: none;

    .intro>.heading-group h1, span {
      color: #fff;
      box-shadow: none;
    }

    .intro .main-cta {
      display: flex;
      justify-content: center;
    }

    .intro .main-cta a.register {
      background: transparent;
      color: #fff;
      box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2), 8px 8px 0px rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0;
      text-shadow: none;
      text-transform: uppercase;
      letter-spacing: 4px;

      &:hover {
        background: transparent !important;
        box-shadow: 6px 6px 0px rgba(255, 255, 255, 0.2), 12px 12px 0px rgba(255, 255, 255, 0.2);
      }
    }
  }
}

.course-info header.course-profile .intro-inner-wrapper .media {
  padding: 0;
}

.course-info header.course-profile .intro-inner-wrapper .media .hero {
  border: none;
}

.course-info header.course-profile .intro-inner-wrapper .intro {
  padding: 20px 0 20px 20px;
}

.social-sharing .sharing-message {
  display: none;
}

.course-info .course-sidebar header .social-sharing .share {
  color: #00407c;
  opacity: 0.4;

  &:hover {
    opacity: 0.8;
  }
}

.course-info .course-sidebar .important-dates li .icon {
  font-size: 18px;
}

.course-info {
  .container {
    padding-bottom: 0;
  }

  .details {
    font: normal 0.8em/1.3em Open Sans;
  }

  .details .inner-wrapper > section {
    margin-bottom: 0;
  }

  .course-sidebar .important-dates li {
    .important-dates-item-text {
      font-weight: 500;
      color: $gray-dark;
    }

    .icon {
      padding: 0;
      margin: 0 6px 0 0;
    }
  }

  header.course-profile .intro-inner-wrapper .intro .main-cta {
    span.register {
      @extend %t-copy-base;
      padding: 10px 0;
    }
    strong {
      background-image: none;
      border-radius: 0;
      &:hover:not(:disabled) {
        background-image: none;
      }
    }
  }
}

.global-header .header-logo .course-header {
  color: #fff;
}

/////////////////// Course search
.university-profile {
  background-color: #fff;
}

.home>header .title .course-search .search-input {
  border: 0;
  border-radius: 0;
  height: 40px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);

  &::placeholder {
    color: #fff;
  }
  &:-ms-input-placeholder {
    color: #fff;
  }
  &::-ms-input-placeholder {
    color: #fff;
  }
}

.home>header .title .course-search .search-button {
  height: 40px;
  width: 48px;
  padding: 0 12px;
  background: transparent;
  border: 2px solid transparent;
  border-radius: 0;

  &:hover {
    background: transparent;
    border-radius: 0;
  }
}

/////////////////// User profile
.view-profile .profile-self .wrapper-profile-field-account-privacy {
  margin-top: -$content-padding-top;
}
.view-profile .wrapper-profile {
  background-color: #fff;
}

.view-profile .wrapper-profile-section-container-one .wrapper-profile-section-one {
  border: solid $primary;
  border-width: 5px 1px 1px 1px;
}

// Account settings
.wrapper-account-settings .wrapper-header {
  height: 100px;
}
.wrapper-account-settings .wrapper-header .header-title {
  padding-top: 0;
}
.wrapper-account-settings .wrapper-header .account-nav button.active {
  border-bottom-color: $primary;
}


////////////////// Footer
.wrapper-footer {
  box-shadow: none;
  padding: 25px 40px;
  background-color: #dededf;

  .wrapper-logo {
      a {
          float: none;

          &.leti-footer-logo {
            padding-right: 13px;
          }
          &.edx-footer-logo {
            padding-left: 13px;
            padding-right: 13px;
          }
          &.tutor-footer-logo {
            padding-left: 13px;
            padding-right: 13px;
          }
          &.program-5-100-footer-logo {
            padding-left: 13px;
          }
      }
  }
  .nav-legal ul {
      display: inline-block;
  }
  footer#footer-openedx .colophon {
      width: auto;

      .nav-colophon li a {
        padding: 29px 5px 4px 5px;
        background: #fbfafa;
        font-size: 15px;
        border: none;

        @include media-breakpoint-up(lg) {
          &:hover {
            color: #333;
            border: none;
            background: #ededed;
          }
        }

        @include media-breakpoint-up(md) {
          &:hover {
            color: #333;
            border: none;
            background: #ededed;
          }
        }
      }
  }
  footer#footer-openedx .footer-about-openedx {
      a {
          float: none;

          &.leti-footer-logo {
            border-right: 1px solid $gray;
            padding-right: 20px;
          }
          &.edx-footer-logo {
            border-right: 1px solid $gray;
            padding-left: 20px;
            padding-right: 20px;
          }
          &.program-5-100-footer-logo {
            padding-left: 20px;
          }
      }
      p {
          text-align: right;
      }
  }
}
